In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Austin Animal Shelter Outcomes

##### Answers the following questions

What is the average age when animals leave the shelter?

What percentage of animals were adopted during the years of 2013-2021?

What percentage of animals were adopted during 2015?

What percentage of animals were euthanised?

What is the percentage of Dogs and cats that were adopted?

What is the percentage of Dogs and cats that were returned to owners?

What percentage of dogs, cats and other were euthanised?

In [52]:
# read csv and replace blanks with NaN
animal_data = pd.read_csv('Austin_Animal_Center_Outcomes.csv', na_values=' ')
# dropped MonthYear as it's the same values as DateTime, Dropped Outcome Subtype as there are too many blank values to have accurate reporting
animal_data.drop(['MonthYear', 'Outcome Subtype'], axis=1, inplace=True)
# print sample of updated csv
animal_data.head()

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/12/2017,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,10/08/2015,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [12]:
animal_data.info()

<class 'pandas.core.frame.DataFrame'>
,RangeIndex: 124491 entries, 0 to 124490
,Data columns (total 10 columns):
, #   Column            Non-Null Count   Dtype
,---  ------            --------------   -----
, 0   Animal ID         124491 non-null  object
, 1   Name              85466 non-null   object
, 2   DateTime          124491 non-null  object
, 3   Date of Birth     124491 non-null  object
, 4   Outcome Type      124471 non-null  object
, 5   Animal Type       124491 non-null  object
, 6   Sex upon Outcome  124490 non-null  object
, 7   Age upon Outcome  124486 non-null  object
, 8   Breed             124491 non-null  object
, 9   Color             124491 non-null  object
,dtypes: object(10)
,memory usage: 9.5+ MB

### Outcome types of animals

In [13]:
animal_data['Outcome Type'].value_counts()

Adoption           55347
Transfer           36713
Return to Owner    21517
Euthanasia          8381
Died                1156
Rto-Adopt            698
Disposal             568
Missing               69
Relocate              22
Name: Outcome Type, dtype: int64

### Percentage of adoptions throughout the years of 2013 - 2021

In [33]:
# calculates number of rows with 'adoption' in them
adoption_count = len(animal_data[animal_data["Outcome Type"] == 'Adoption'])
# calculates number of rows in dataset
total_count = len(animal_data)

adoption_percent = (adoption_count / total_count) * 100
adoption_percent

44.458635564016674

### Number of animals in shelter from 2013 - 2021

In [69]:
animal_data['Animal ID'].count()

124491

### Types and counts of animals

In [14]:
animal_data['Animal Type'].value_counts()

Dog          70516
Cat          46762
Other         6608
Bird           585
Livestock       20
Name: Animal Type, dtype: int64

### Age upon Outcome

##### Most common age of animals leaving the centre is between 2 months to 2 years of age with the most common being 1 years of age

In [15]:
animal_data['Age upon Outcome'].value_counts()

1 year       22130
2 years      19016
2 months     15029
3 years       7589
3 months      5943
1 month       5348
4 years       4430
5 years       4100
4 months      4024
5 months      3098
6 months      2997
6 years       2727
8 years       2371
7 years       2345
3 weeks       2124
2 weeks       2033
8 months      1981
10 years      1893
10 months     1810
4 weeks       1803
7 months      1598
9 years       1297
9 months      1276
12 years       921
1 weeks        850
11 months      787
11 years       740
1 week         660
13 years       594
14 years       396
3 days         354
2 days         347
15 years       338
1 day          264
6 days         237
4 days         235
0 years        185
5 days         158
16 years       141
5 weeks        121
17 years        85
18 years        49
19 years        27
20 years        19
22 years         5
-1 years         5
-2 years         1
23 years         1
24 years         1
25 years         1
21 years         1
-3 years         1
Name: Age upon Outcome, dtype: int64

### Sex upon Outcome

##### Animals leaving the shelter are mainly neutered/spayed animals

In [16]:
animal_data['Sex upon Outcome'].value_counts()

Neutered Male    43794
Spayed Female    39359
Intact Male      15786
Intact Female    15329
Unknown          10222
Name: Sex upon Outcome, dtype: int64

### 18506 animals were in the shelter in 2015

In [72]:
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month
outcome_amount = animal_data[animal_data['Year'] == 2015]['Outcome Type'].count()
#intake_year = animal_data[animal_data['Year'] == 2015]['Animal ID'].count()
outcome_amount

18506

### 40% of animals were adopted in 2015

In [73]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

adoption_data = animal_data[(animal_data["Outcome Type"] == 'Adoption') & (animal_data["Year"] == 2015)]

# get the count of adopted animals in the specified year
adoption_count = len(adoption_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
adoption_percent = (adoption_count / total_count) * 100

# print percentage
adoption_percent

39.86274721711877

### 19% of adopted animals were neutered males

In [104]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

adoption_data = animal_data[(animal_data["Outcome Type"] == 'Adoption') & (animal_data["Year"] == 2015) & (animal_data['Sex upon Outcome'] == 'Neutered Male')]

# get the count of adopted animals in the specified year
adoption_count = len(adoption_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
adoption_percent = (adoption_count / total_count) * 100

# print percentage
adoption_percent

19.31805900788933

### 19% of adopted animals were spayed females

In [105]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

adoption_data = animal_data[(animal_data["Outcome Type"] == 'Adoption') & (animal_data["Year"] == 2015) & (animal_data['Sex upon Outcome'] == 'Spayed Female')]

# get the count of adopted animals in the specified year
adoption_count = len(adoption_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
adoption_percent = (adoption_count / total_count) * 100

# print percentage
adoption_percent

19.02626175294499

### less than 1% of adopted animals were not neutered

In [106]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

adoption_data = animal_data[(animal_data["Outcome Type"] == 'Adoption') & (animal_data["Year"] == 2015) & (animal_data['Sex upon Outcome'] == 'Intact Male')]

# get the count of adopted animals in the specified year
adoption_count = len(adoption_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
adoption_percent = (adoption_count / total_count) * 100

# print percentage
adoption_percent

0.5998054684967038

### less than 1% of adopted animals were not spayed

In [107]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

adoption_data = animal_data[(animal_data["Outcome Type"] == 'Adoption') & (animal_data["Year"] == 2015) & (animal_data['Sex upon Outcome'] == 'Intact Female')]

# get the count of adopted animals in the specified year
adoption_count = len(adoption_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
adoption_percent = (adoption_count / total_count) * 100

# print percentage
adoption_percent

0.8267588890089701

### 32% were transfered out of the shelter in 2015

In [75]:
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

transfer_data = animal_data[(animal_data["Outcome Type"] == 'Transfer') & (animal_data["Year"] == 2015)]

# get the count of adopted animals in the specified year
transfer_count = len(transfer_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
transfer_percent = (transfer_count / total_count) * 100

# print percentage
transfer_percent

32.0490651680536

### 19% were returned to owners in 2015

In [76]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

retowner_data = animal_data[(animal_data["Outcome Type"] == 'Return to Owner') & (animal_data["Year"] == 2015)]

# get the count of adopted animals in the specified year
retowner_count = len(retowner_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
retowner_percent = (retowner_count / total_count) * 100

# print percentage
retowner_percent

18.939803307035554

### 8% were euthanized in 2015

In [77]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

euthanasia_data = animal_data[(animal_data["Outcome Type"] == 'Euthanasia') & (animal_data["Year"] == 2015)]

# get the count of adopted animals in the specified year
euthanasia_count = len(euthanasia_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
euthanasia_percent = (euthanasia_count / total_count) * 100

# print percentage
euthanasia_percent

7.921755106451961

### 1% of animals have died in Shelter in 2015

In [78]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

died_data = animal_data[(animal_data["Outcome Type"] == 'Died') & (animal_data["Year"] == 2015)]

# get the count of adopted animals in the specified year
died_count = len(died_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
died_percent = (died_count / total_count) * 100

# print percentage
died_percent

0.9996757808278396

### 24% of adopted animals were dogs in 2015

In [79]:


#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

adoption_data = animal_data[(animal_data["Outcome Type"] == 'Adoption') & (animal_data["Year"] == 2015) & (animal_data['Animal Type'] == 'Dog')]

# get the count of adopted animals in the specified year
adoption_count = len(adoption_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
adoption_percent = (adoption_count / total_count) * 100

# print percentage
adoption_percent

24.18675024316438

### 16% of adopted animals were cats in 2015

In [80]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

adoption_data = animal_data[(animal_data["Outcome Type"] == 'Adoption') & (animal_data["Year"] == 2015) & (animal_data['Animal Type'] == 'Cat')]

# get the count of adopted animals in the specified year
adoption_count = len(adoption_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
adoption_percent = (adoption_count / total_count) * 100

# print percentage
adoption_percent

15.524694693612881

### 17% of dogs were returned to owners in 2015

In [81]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

retowner_data = animal_data[(animal_data["Outcome Type"] == 'Return to Owner') & (animal_data["Year"] == 2015) & (animal_data['Animal Type'] == 'Dog')]

# get the count of adopted animals in the specified year
retowner_count = len(retowner_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
retowner_percent = (retowner_count / total_count) * 100

# print percentage
retowner_percent

17.026910191289314

### 2% of cats were returned to owners in 2015

In [82]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

retowner_data = animal_data[(animal_data["Outcome Type"] == 'Return to Owner') & (animal_data["Year"] == 2015) & (animal_data['Animal Type'] == 'Cat')]

# get the count of adopted animals in the specified year
retowner_count = len(retowner_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
retowner_percent = (retowner_count / total_count) * 100

# print percentage
retowner_percent

1.8480492813141685

### 8% of animals were euthanized, 2% were dogs in 2015

In [83]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

euthanasia_data = animal_data[(animal_data["Outcome Type"] == 'Euthanasia') & (animal_data["Year"] == 2015) & (animal_data['Animal Type'] == 'Dog')]

# get the count of adopted animals in the specified year
euthanasia_count = len(euthanasia_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
euthanasia_percent = (euthanasia_count / total_count) * 100

# print percentage
euthanasia_percent

2.269534205122663

In [86]:
animal_data["Animal Type"].value_counts()

Dog          70516
Cat          46762
Other         6608
Bird           585
Livestock       20
Name: Animal Type, dtype: int64

### 8% of animals were euthanized, 2% were cats in 2015

In [84]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

euthanasia_data = animal_data[(animal_data["Outcome Type"] == 'Euthanasia') & (animal_data["Year"] == 2015) & (animal_data['Animal Type'] == 'Cat')]

# get the count of adopted animals in the specified year
euthanasia_count = len(euthanasia_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
euthanasia_percent = (euthanasia_count / total_count) * 100

# print percentage
euthanasia_percent

2.3127634280773806

### 8% of animals were euthanized, 3% were livestock, birds or labeled as other

In [98]:
#convert to datetime format
animal_data['DateTime'] = pd.to_datetime(animal_data['DateTime'])

# Create new columns for year and month
animal_data['Year'] = animal_data['DateTime'].dt.year
animal_data['Month'] = animal_data['DateTime'].dt.month

euthanasia_data = animal_data[(animal_data["Outcome Type"] == 'Euthanasia') & (animal_data["Year"] == 2015) & ((animal_data['Animal Type'] == 'Other') | (animal_data['Animal Type'] == 'Livestock') | (animal_data['Animal Type'] == 'Bird'))]

# get the count of adopted animals in the specified year
euthanasia_count = len(euthanasia_data)

# get the count of all animals in the specified year
total_count = len(animal_data[animal_data["Year"] == 2015])

# get the percent of adoptions for specified year
euthanasia_percent = (euthanasia_count / total_count) * 100

# print percentage
euthanasia_percent

3.339457473251918